body {
    background: #e6f7ff;
    color: #2f2d2d;
    position: relative;
    font-size: large;
    font-family: 'Tajawal' , 'Gupter', 'Marhey', sans-serif;
    direction: rtl;
    text-align: right;
}
.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-brand img {
    max-width: 75px;
    margin: 5px;
    border-radius: 2px;
}
.navbar-brand h5 {
    color: #333333;
    font-family: 'Reem Kufi Fun';
}
.nav-link, .nav-link:visited {
    font-size: larger;
    color: #f8f9fa;
}

.nav-item{
    font-family: 'Reem Kufi Fun';
}
.nav-link.active {
    font-weight: bold;
    color: #ffffff;
}
.nav-link:hover{
    text-decoration: underline;
}

@media (max-width: 575.98px) {
    .navbar-brand {
        flex-direction: column; /* Change to column direction for small screens */
    }
    .navbar-brand img {
        max-width: 55px; /* Adjust image size for small screens */
        margin-bottom: 10px; /* Add margin below the image */
    }
    .navbar-brand h3 {
        font-size: 1.2rem; /* Adjust font size for small screens */
    }
}

@media (min-width: 576px) {
    .navbar-brand {
        flex-direction: row; /* Change to row direction for larger screens */
    }
    .navbar-brand img {
        max-width: 75px; /* Default image size */
        margin: 5px;
    }
    .navbar-brand h3 {
        font-size: 1.5rem; /* Default font size */
    }
}

footer {
    color: #333333;
    padding: 20px 0;
    bottom: 0;
    font-family: 'Reem Kufi Fun';
}

footer a, footer a:visited {
    color: #333333;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}


.carousel-indicators li {
            background-color: #2A52BE; /* لون المؤشر */
}
.carousel-indicators .active {
            background-color: #ff6347; /* لون المؤشر النشط */
}



.courses-title{
    padding: 10px;
    margin: 5px;
}

.hidden{
    display: none !important;
}

.hWork{
    box-shadow:1px 1px 15px  gray;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.announce-content{
    transition: .5s;
}
.announce-content p{
    transition: .5s;
}
.announce-content:hover p {
    transform: scale(1.02);
}

.announce-action{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content:center;
    transition: .5s;
    z-index: 2;

}

.announce-action a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}



.announce-content:hover .announce-action {
    background: #ffffffb3;
}
  
.announce-content:hover .announce-action a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}
  
.announce-content:hover .announce-action a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: opacity .3s .2s;
}
.announce-content .btn:hover {
    color:  #333333 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  /* إضافة ظل عند التحويم */    
}

.announce-content .btn i {
    color: #333333;  /* لون أيقونة داكن */
}
    
.announce-content .btn:hover i {
    color: #fff;  /* تغيير لون الأيقونة إلى الأبيض عند التحويم */
}

.announce-content:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.btn-square {
    width: 120px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
