{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h3 class="m-3">تغيير كلمة المرور</h3>
<form action="" method="post" class="my-5 pb-3">
    {% csrf_token %}
    <div class="form-group">
        <label for="old_password">كلمة المرور القديمة</label>
        <span class="form-control" style="background-color: #e6f7ff; border:none">
        {{form.old_password}}
        </span>
        <div class="text-danger">
            {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                    {% if "Your old password was entered incorrectly" in error %} 
                    <p>كلمة المرور السابقة غير صحيحة.</p>               
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <label for="new_password1">كلمة المرور الجديدة</label>
        <span class="form-control" style="background-color: #e6f7ff; border:none">
        {{form.new_password1}}
        </span>
        <ul>
        <li><small>كلمة المرور الجديدة لا يمكن أن تكون قريبة جدا من كلمة المرور القديمة.</small></li>
        <li><small> ينبغي أن تتكون كلمة المرور الجديدة من 8 رموز على الأقل. </small></li>
        <li><small> لا ينبغي أن تتكون كلمة المرور الجديدة من رموز مألوفة. </small></li>
        <li><small> لا ينبغي أن تتكون كلمة المرور الجديدة من أرقام فقط . </small></li>
        </ul>
        <div class="text-danger">
            {{ form.new_password1.errors }}            
        </div>
    </div>
    <div class="form-group">
        <label for="new_password2">تأكيد كلمة المرور الجديدة </label>
        <span class="form-control" style="background-color: #e6f7ff; border:none">
        {{form.new_password2}}
        </span>
        <div class="text-danger">
            {{ form.new_password2.errors }}
        </div>
    </div>
    <button class="btn" style="float: left;" type="submit">تغيير كلمة المرور</button>
</form>
</div>
{% endblock %}