{% load static %}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title > الثانوية الإعدادية أنس بن مالك</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Dancing+Script:wght@400..700&family=Playpen+Sans+Arabic:wght@100..800&family=Tajawal:wght@200;300;400;500;700;800;900&family=Cinzel:wght@400..900&family=Lalezar&family=Reem+Kufi+Fun:wght@400..700&family=Gupter:wght@400;500;700&family=Marhey:wght@300..700&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
        const User = '{{request.user|escapejs}}'
        let sign = document.querySelectorAll('.sign').forEach(element=>{
        if(User != 'AnonymousUser'){
            element.classList.add('hidden')
        } })
        let user = document.querySelectorAll('.user').forEach(element=>{
        if(User == 'AnonymousUser'){
            element.classList.add('hidden')
        } })
        let signout = document.querySelectorAll('.out').forEach(element=>{
        if(User == 'AnonymousUser'){
            element.classList.add('hidden')
        } })
    })
    </script>

</head>
{% include 'parts/navbar.html' %}
<body dir="rtl" style="font-family:Tajawal, Gupter, Marhey, sans-serif; direction:rtl; font-size: large;">

   


{% block content %}



{% endblock %}
<br>
<br>
<br>
<hr>
{% include 'parts/footer.html' %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>