{% extends 'base.html' %}
{% load static %}
{% load custom_filter %}
{% block content %}

<div class="container-fluid my-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="mb-3 text-start">
        <a href="{% url 'classes' %}" class="text-decoration-none" style="color: inherit; font-size: 0.9rem;">
            <i class="fas fa-arrow-circle-left me-1"></i> الرجوع للصفحة السابقة
        </a>
    </div>

    <h4 class="text-info text-center">سجل الغياب الشهري للقسم: {{ section.name }}</h4>

  {% for year in years %}
    <div class="card my-3">
      <div class="card-header bg-primary text-white">السنة: {{ year }}</div>
      <div class="card-body">

        {% for month, days in days_by_month.items %}
          <div class="card my-2">
            <div class="card-header bg-secondary text-white">الشهر: {{ month }}</div>
            <div class="card-body">

              {% for week in 1|to_range:5 %}
                <h6>الأسبوع {{ week }}</h6>
                <table class="table table-bordered text-center">
                  <thead>
                    <tr>
                      <th>الاسم</th>
                      {% for d in days %}
                        <th colspan="8">{{ d }}</th>
                      {% endfor %}
                    </tr>
                    <tr>
                      <th></th>
                      {% for d in days %}
                        {% for h in hours_range %}
                          <th>{{ h }}</th>
                        {% endfor %}
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for s in students %}
                      <tr>
                        <td>{{ s.first_name }} {{ s.last_name }}</td>
                        {% for d in days %}
                          {% for h in hours_range %}
                            <td>
                              {% if grouped_absence|get_item:s|get_item:year|get_item:month|get_item:week|get_item:(d,h) %}
                                X
                              {% endif %}
                            </td>
                          {% endfor %}
                        {% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% endfor %}
              
            </div>
          </div>
        {% endfor %}
        
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}
