<footer>
    <div class="container mt-5" dir="rtl">
        <div class="row justify-content-around text-center">
            <div class="col-4">
                <h4>اتصل بنا</h4>
                <ul>
                    <li>إقليم اشتوكة أيت باها، بيوكرى، حي تين بيوكرى</li>
                    <li>lc.attafawoq@gmail.com</li>
                    <li>0661432155</li>
                </ul>
            </div>
            <div class="col-4">
                <h4>زوروا مواقعنا على شبكات التواصل الاجتماعي</h4>
                <ul>
                    <li><a  href="https://www.facebook.com/profile.php?id=100090408570307" target="_blank">صفحتنا على الفيسبوك</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>